<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default btn-lg"
        data-toggle="modal" data-target="#myModal">Добавить задачу</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Добавить новую задачу</h3>
            </div>
            <div class="modal-body">

                <!-- Fill the modal body with inputs -->
                <form class="uk-form">
                    <div class="uk-form-row">
                        <input type="text" placeholder="Название" class="uk-form-new-task-name">
                    </div>

                    <div class="uk-form-row">
                        <textarea rows=10 placeholder="Описание" class="uk-form-new-task-desc"></textarea>
                    </div>

                    <div class="uk-form-row">
                        <select>
                            <option>Без категории</option>
                            <option>Личное</option>
                            <option>Работа</option>
                        </select>
                        <div class="uk-form-icon uk-form-new-task-deadline">
                            <i class="uk-icon-calendar"></i>
                            <input type="text" class="uk-form-deadline"
                                   data-uk-datepicker="{minDate: '1',format:'DD.MM.YYYY'}">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Добавить</button>
            </div>
        </div>

    </div>
</div>