{% extends "base.html" %}
{% block content %}
    {% for task in tasks %}
        {% include "single_task.html" %}
    {% endfor %}
    {% include "pagination.html" with page=tasks %}
{% endblock %}
{% block tag_block %}
    <ul class="uk-list uk-list-line">
        <li><a href="{% url 'index' %}">Все задачи</a></li>
        {#         <li><a href="{% url 'tag' tag.title %}">{{ tag.title }}</a></li>#}
        {% for tag in tags %}
            <li><a href="{% url 'tag' tag.title %}">{{ tag.title }}
                <span class="count_right">({{ tag.task_set.count }})</span></a></li>
        {% endfor %}
        <li><a href="#">Без тега</a></li>
    </ul>
{% endblock %}
{% block done_block %}
    <ul class="uk-list uk-list-line">
        <ul class="uk-list uk-list-line">
            <li><a href="{% url 'index' %}">Не сделано<span class="count_right"></span></a>
            </li>
            <li><a href="{% url 'done' %}">Сделано<span class="count_right"></span></a>
        </ul>
    </ul>
{% endblock %}

