{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- MAIN PART -->
<div>
    <div class="container">
        <div class="col-md-6">
            <div id="logbox">
                <form id="login" method="post" action="{% url 'login' %}">
                    <h1>Log in</h1>
                    {{ form.username }}
                    {{ form.password }}

                    {% if text_error != None %}
                        <div class=" alert  alert-danger alert-custom" role="alert">
                            <a href="#" class="alert-link">{{ text_error }}</a>
                        </div>
                    {% endif %}

                    <input type="submit" value="Login!" class="btn btn-default btn-lg btn-block"/>


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}