{% include "edit_task.html" %}
<div class="blog-post" data-taskid="{{ task.id }}">
    <input type="checkbox" class="checkbox" style="float: left">
    <input class="blog-post-title" value="{{ task.title }}">

    <!-- Edit & Delete -->
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
    <!-- Календарь -->
    <form class="uk-form">
        <div class="uk-form-icon">
            <i class="uk-icon-calendar"></i>
            <input type="text" class="uk-form-deadline" data-uk-datepicker="{minDate: '1',format:'YYYY-MM-DD'}"
                   value="{{ task.deadline|date:'Y-m-d' }}">
        </div>
    </form>


    <p class="blog-post-meta">
        {% for t in task.tags.all %}
            <a class="blog-post-meta" href="{% url 'tag' t.title %}">{{ t.title }}</a>
        {% endfor %}
    </p>
</div><!-- /.blog-post -->

