.uk-form-deadline {
    width: 100%;
}
.uk-form-icon {
    width: 22%;
}
.uk-form input {
    margin: 5px;
}
.uk-form-new-task-name, .uk-form-new-task-desc, .uk-form-new-task-tag {
    width: 90%;
    margin: 20px;
}

.uk-form-new-task-deadline {
    margin-left: 60%;
}

.btn-add-task {
    float: right;
    margin-right: 35%;
}

.user-avatar {
    height: 50px;
    width: 50px;
}
.uk-comment-user {
    width: 30%;
    margin-right: 10%;
}

.uk-accordion-title-width {
    width: 70%;
}

.count_right {
    float: right;
    margin-right: 0%;
}