{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Task manager to getting things done">
    <meta name="author" content="Timur Masalimov">

    <title>Task Manager</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href={% static "uikit/css/uikit.min.css" %} rel="stylesheet">
    <link href={% static "uikit/css/uikit.docs.min.css" %} rel="stylesheet">

    <link href={% static "my/signup.css" %} rel="stylesheet">
    <link href={% static "semantic/semantic.min.css" %} rel="stylesheet">
    <link href={% static "my/main.css" %} rel="stylesheet">

</head>

<body>
<div class="blog-masthead">
<a class="navbar-brand" href="{% url 'index' %}"><img src="https://cdn2.iconfinder.com/data/icons/justice/512/list_ok_notebook_notation_written-512.png" alt="ToDo">
        </a>
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item
            {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Task</a>
            {% if user.is_authenticated %}
                <a class="blog-nav-item" style="float: right">{{ user.username }}</a>
                <a class="blog-nav-item" style="float: right" href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a class="blog-nav-item
            {% if request.path == '/signup' %}active{% endif %}" href="{% url 'signup' %}">Sign up</a>
                <a class="blog-nav-item
                 {% if request.path == '/login' %}active{% endif %}" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </nav>
    </div>
</div>
{% block content %}
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src={% static "bootstrap/js/jquery.min.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "uikit/js/uikit.min.js" %}></script>
<script src={% static "uikit/js/components/datepicker.min.js" %}></script>
<script src={% static "my/main.js" %}></script>

</body>
</html>
