{% extends "base.html" %}


{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-header">
                    <h1 class="blog-title">Мои задачи</h1>
                    {% include "add_task_modal.html" %}
                </div>
                <div class="replace-tasks">
                    {% include "task_block.html" %}
                </div>
            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

                <div class="sidebar-module sidebar-module-sort">
                    <h2>Сортировка</h2>
                    <ul class="nav nav-pills nav-pills-custom nav-stacked" role="tablist">
                        <li class="{% if request.path == '/' %}active{% endif %}">
                            <a href="{% url 'index' %}">По добавлению</a>
                        </li>
                        <li class="{% if request.path == '/deadline_sort' %}active{% endif %}">
                            <a href="{% url 'deadline_sort' %}">По
                                дедлайну</a>
                        </li>
                    </ul>
                </div>


                <div class="sidebar-module sidebar-module-category">
                    <h2>Теги</h2>
                    <ul class="nav nav-pills nav-pills-custom nav-stacked" role="tablist">
                        <li class="active">
                            <a class="other_tags">
                                <span>Все теги</span>
                                <span class="count_right badge badge-warning">{{ not_done_count }}</span></a>
                        </li>

                        {% for tag in tags %}
                            <li class="">
                                <a class="other_tags">
                                    <span class="tag-title">{{ tag.title }}</span>
                                    <span class="count_right badge badge-warning">{{ tag.task_set.count }}</span></a>
                            </li>
                        {% endfor %}

                        <li class="">
                            <a class="other_tags">
                                <span>Без тега</span>
                                <span class="count_right badge badge-warning">{{ no_tag_count }}</span></a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-module sidebar-module-category">
                    <h2>Статус</h2>
                    <ul class="nav nav-pills nav-pills-custom nav-stacked" role="tablist">
                        <li class="{% if request.path == '/not_done' %}active{% endif %}">
                            <a href="{% url 'not_done' %}">Не сделано
                                <span class="count_right badge badge-warning">{{ not_done_count }}</span></a>
                        </li>
                        <li class="{% if request.path == '/done' %}active{% endif %}">
                            <a href="{% url 'done' %}">Сделано
                                <span class="count_right badge badge-warning">{{ done_count }}</span></a>
                        </li>
                        <li class="{% if request.path == '/all' %}active{% endif %}">
                            <a href="{% url 'all' %}">Все
                                <span class="count_right badge badge-warning">{{ all_count }}</span></a>
                        </li>
                    </ul>
                </div>

            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
        {#        <p>Get your things done</p>#}
    </footer>

{% endblock %}










